@charset "utf-8";

@font-face {
	font-family: 'Times New Roman', Times, serif;
	
	}
	
	header {
		color: rgb(65, 105, 225);
		background-color: royalblue;
		font-family: Verdana, Geneva, sans-serif;
	}
	
	body {
		color: white;
		background-color: royalblue;
		font-family: Verdana, Geneva, sans-serif;
		
	}
	
/* Heading Styles */
h1, h2 {
	font-family: 'Times New Roman', Times, serif;
	color: black;
}

/* Aside and Blockquote Styles */
aside blockquote {
	background-color: rgb(232, 165, 116);
}
